*{
    font-size: 'Poppins', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    
}
.header{
    background-color: #5ce1e6;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin : 0;
}
.logo{
    width: 120px;
    height: auto;
}
.other{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'aharoni', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    padding : 20px 30px;
    
    
}
.nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    border: white 1px solid;
    border-radius: 15px;
}
ol {
  list-style-type: none;   /* hides numbers */
  padding-left: 0;         /* removes left indentation */
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Poppins', 'aharoni', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    flex : 1;
    border: #ffffff 1px solid;
    
    justify-content: left;
}
.right{
    flex : 1;
    
    justify-content: right;
}
.profile{
    width: 100%;
    height: auto;
    border-radius: 500px;
    border: 5px solid #ffffff;
}
h1{
    font-family: 'aharoni' sans-serif;
    font-size: 36px;
}
p{
    font-family: 'poppins', sans-serif;
}
.quote{
    padding : 40px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #e6f7f9;
}
.my-interests{
    margin-bottom: 30px;
    color: #2a2121
}
.interests ol{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 40px;
    margin: 5px;
}
.interests li img {
    width: 150px;       
    height: 150px;     
    object-fit: cover;  
    border-radius: 12px; 
}
.footer{
    background-color: #3c3d3d;
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.feedback{
    background: #e6f7f9;
    padding: 60px 20px;
    display: flex;

}
